/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background-color: #EC715F;
  height: 70px;
  width: 100%;
  line-height: 70px;
  display: flex;
  justify-content:space-between;
}

.nav-list-item{
  list-style: none;
  display: inline-block;
  color: #FAFAFA;
  font-size: 16px;
  margin: 0 30px;
}

.main-visual{
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
  text-align: center;
}

.main-visual-text{
  color: #FAFAFA;
  font-size: 64px;
  padding: 200px 0px 0px 0px;
}

.main-visual-text2{
  color: #FAFAFA;
  font-size: 20px;
  padding: 10px;
}

footer{
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #EC715F;
}

.footer-text{
  color: #FAFAFA;
  font-size: 16px;
}