/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background-color: #EC715F;
  height: 70px;
  width: 100%;
  line-height: 70px;
  display: flex;
  justify-content:space-between;
}

.nav-list-item{
  list-style: none;
  display: inline-block;
  color: #FAFAFA;
  font-size: 16px;
  margin: 0 30px;
}

.main-visual{
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 200px;
}

.main-visual-text{
  color: #FAFAFA;
  font-size: 64px;
  font-weight: bold;
  padding-top: 10px;
}

.main-visual-text2{
  color: #FAFAFA;
  font-size: 20px;
  padding-top: 10px;
}

.Portfolio{
  background-color: #ECEFF1;
  text-align: center;
  padding: 90px 0;
}

.Portfolio-heading{
  font-size: 32px;
  font-weight: bold;
  color: #000000;
  position: relative;
}

.Portfolio-heading::before{
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: -8px;
  content: '';
  width: 70px;
  border-bottom: 3px solid #EC715F;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.Portfolio-text{
  font-size: 16px;
  color: #000000;
  padding: 38px 0;
}

footer{
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #EC715F;
}

.footer-text{
  color: #FAFAFA;
  font-size: 16px;
}